<h1> Hello {{ansible_env.LOGNAME}} this is your first deployment </h1>
<h2> Hello world !! </h2>

<p>Server Details:</p>
<p>IP is {{ansible_default_ipv4.address}}</p>
<p>Release: {{ansible_distribution}}</p>

<h2> The user in control node is {{user1}} </h2>